{
  "manifest_version": 2,
  "name": "{{title}}",
  "version": "1.0",
  "description": "{{description}}",
  "author": "Laurent Lanteigne",
  "browser_specific_settings": { "gecko": { "id": "{{name}}-theme@lanteignel93" } },
  "theme": {
    "colors": {
      "frame": "{{bg0}}",
      "frame_inactive": "{{bg0}}",
      "tab_background_text": "{{fg2}}",
      "tab_selected": "{{bg1}}",
      "tab_text": "{{bright}}",
      "tab_line": "{{lime}}",
      "tab_loading": "{{mint}}",
      "toolbar": "{{bg1}}",
      "toolbar_text": "{{fg}}",
      "bookmark_text": "{{fg}}",
      "toolbar_field": "{{bg2}}",
      "toolbar_field_text": "{{bright}}",
      "toolbar_field_border": "{{border}}",
      "toolbar_field_focus": "{{bg2}}",
      "toolbar_field_text_focus": "{{bright}}",
      "toolbar_field_border_focus": "{{lime}}",
      "toolbar_field_highlight": "{{bg3}}",
      "toolbar_field_highlight_text": "{{bright}}",
      "toolbar_top_separator": "{{bg0}}",
      "toolbar_bottom_separator": "{{border}}",
      "toolbar_vertical_separator": "{{border}}",
      "icons": "{{fg2}}",
      "icons_attention": "{{lime}}",
      "button_background_hover": "{{bg3}}",
      "button_background_active": "{{bg4}}",
      "popup": "{{bg1}}",
      "popup_text": "{{fg}}",
      "popup_border": "{{border}}",
      "popup_highlight": "{{bg3}}",
      "popup_highlight_text": "{{bright}}",
      "sidebar": "{{bg1}}",
      "sidebar_text": "{{fg}}",
      "sidebar_border": "{{border}}",
      "sidebar_highlight": "{{bg3}}",
      "sidebar_highlight_text": "{{bright}}",
      "ntp_background": "{{bg0}}",
      "ntp_text": "{{fg}}"
    },
    "properties": {
      "color_scheme": "dark",
      "content_color_scheme": "dark"
    }
  }
}
