  A_LIME=$'\e[38;2;{{lime.sgr}}m'    # your work
  A_SEA=$'\e[38;2;{{mint.sgr}}m'     # success, arrival
  A_LAV=$'\e[38;2;{{lav.sgr}}m'    # remote, forge, elsewhere
  A_FG=$'\e[38;2;{{fg.sgr}}m'     # ordinary text
  A_DIM=$'\e[38;2;{{dim.sgr}}m'       # structure
  A_WARN=$'\e[38;2;{{butter.sgr}}m'
  A_ERR=$'\e[38;2;{{rose.sgr}}m'
  # the sc logo's roles (dotclaude .claude/bin/lib/mkart.py), as r;g;b
  SC_RGB_cursor='{{cursor.sgr}}' SC_RGB_fg='{{fg.sgr}}' SC_RGB_fg2='{{fg2.sgr}}'
  SC_RGB_bright='{{bright.sgr}}' SC_RGB_dim='{{dim.sgr}}' SC_RGB_border='{{border.sgr}}'
  SC_RGB_lime='{{lime.sgr}}' SC_RGB_mint='{{mint.sgr}}' SC_RGB_peach='{{peach.sgr}}'
  SC_RGB_rose='{{rose.sgr}}' SC_RGB_butter='{{butter.sgr}}'
