# eza ({{name}}): LS_COLORS-style pairs with truecolor SGR values
# di dirs · ex executables · ln links · fi files · pi/so/bd/cd specials · or orphan
# ur/uw/ux/ue owner perms · gr/gw/gx group · tr/tw/tx other · sn/sb size · uu user
# da date · ga/gm/gd git added/modified/deleted · hd header · xa extended attrs
export EZA_COLORS="di=38;2;{{lime.sgr}}:ex=38;2;{{mint.sgr}}:ln=38;2;{{lav.sgr}}:fi=38;2;{{fg.sgr}}:pi=38;2;{{peach.sgr}}:so=38;2;{{peach.sgr}}:bd=38;2;{{teal.sgr}}:cd=38;2;{{teal.sgr}}:or=38;2;{{rose.sgr}}:ur=38;2;{{fg.sgr}}:uw=38;2;{{butter.sgr}}:ux=38;2;{{mint.sgr}}:ue=38;2;{{mint.sgr}}:gr=38;2;{{fg2.sgr}}:gw=38;2;{{butter.sgr}}:gx=38;2;{{mint.sgr}}:tr=38;2;{{fg2.sgr}}:tw=38;2;{{butter.sgr}}:tx=38;2;{{mint.sgr}}:sn=38;2;{{sky.sgr}}:sb=38;2;{{steel.sgr}}:uu=38;2;{{fg2.sgr}}:gu=38;2;{{fg2.sgr}}:da=38;2;{{fg2.sgr}}:ga=38;2;{{mintPale.sgr}}:gm=38;2;{{butter.sgr}}:gd=38;2;{{pink.sgr}}:hd=38;2;{{dim.sgr}}:xa=38;2;{{dim.sgr}}:cc=38;2;{{dim.sgr}}"
