# zsh-syntax-highlighting + zsh-autosuggestions ({{name}})
# Set after the plugins load: their defaults only fill keys that are unset.
typeset -gA ZSH_HIGHLIGHT_STYLES
ZSH_HIGHLIGHT_STYLES[default]='fg={{fg}}'
ZSH_HIGHLIGHT_STYLES[comment]='fg={{dim}}'
ZSH_HIGHLIGHT_STYLES[unknown-token]='fg={{rose}}'
ZSH_HIGHLIGHT_STYLES[reserved-word]='fg={{lime}}'
ZSH_HIGHLIGHT_STYLES[command]='fg={{mint}}'
ZSH_HIGHLIGHT_STYLES[builtin]='fg={{mint}}'
ZSH_HIGHLIGHT_STYLES[alias]='fg={{mint}}'
ZSH_HIGHLIGHT_STYLES[suffix-alias]='fg={{mint}}'
ZSH_HIGHLIGHT_STYLES[global-alias]='fg={{mint}}'
ZSH_HIGHLIGHT_STYLES[function]='fg={{func}},bold'
ZSH_HIGHLIGHT_STYLES[precommand]='fg={{mint}},italic'
ZSH_HIGHLIGHT_STYLES[arg0]='fg={{mint}}'
ZSH_HIGHLIGHT_STYLES[commandseparator]='fg={{fg2}}'
ZSH_HIGHLIGHT_STYLES[path]='fg={{fg}},underline'
ZSH_HIGHLIGHT_STYLES[path_prefix]='fg={{fg2}},underline'
ZSH_HIGHLIGHT_STYLES[globbing]='fg={{sky}}'
ZSH_HIGHLIGHT_STYLES[history-expansion]='fg={{lav}}'
ZSH_HIGHLIGHT_STYLES[command-substitution]='fg={{lav}}'
ZSH_HIGHLIGHT_STYLES[command-substitution-delimiter]='fg={{fg2}}'
ZSH_HIGHLIGHT_STYLES[process-substitution]='fg={{lav}}'
ZSH_HIGHLIGHT_STYLES[process-substitution-delimiter]='fg={{fg2}}'
ZSH_HIGHLIGHT_STYLES[single-hyphen-option]='fg={{sky}}'
ZSH_HIGHLIGHT_STYLES[double-hyphen-option]='fg={{sky}}'
ZSH_HIGHLIGHT_STYLES[back-quoted-argument]='fg={{teal}}'
ZSH_HIGHLIGHT_STYLES[single-quoted-argument]='fg={{str}}'
ZSH_HIGHLIGHT_STYLES[double-quoted-argument]='fg={{str}}'
ZSH_HIGHLIGHT_STYLES[dollar-quoted-argument]='fg={{str}}'
ZSH_HIGHLIGHT_STYLES[dollar-double-quoted-argument]='fg={{teal}}'
ZSH_HIGHLIGHT_STYLES[back-double-quoted-argument]='fg={{teal}}'
ZSH_HIGHLIGHT_STYLES[back-dollar-quoted-argument]='fg={{teal}}'
ZSH_HIGHLIGHT_STYLES[single-quoted-argument-unclosed]='fg={{rose}}'
ZSH_HIGHLIGHT_STYLES[double-quoted-argument-unclosed]='fg={{rose}}'
ZSH_HIGHLIGHT_STYLES[dollar-quoted-argument-unclosed]='fg={{rose}}'
ZSH_HIGHLIGHT_STYLES[back-quoted-argument-unclosed]='fg={{rose}}'
ZSH_HIGHLIGHT_STYLES[assign]='fg={{fg}}'
ZSH_HIGHLIGHT_STYLES[redirection]='fg={{op}}'
ZSH_HIGHLIGHT_STYLES[named-fd]='fg={{teal}}'
ZSH_HIGHLIGHT_STYLES[numeric-fd]='fg={{teal}}'
ZSH_HIGHLIGHT_STYLES[autodirectory]='fg={{sky}},underline'
ZSH_HIGHLIGHT_STYLES[rc-quote]='fg={{str}}'
ZSH_AUTOSUGGEST_HIGHLIGHT_STYLE='fg={{dim}}'
